body {
  padding: 0;
  text-align: center;
  margin: 0;
}

#home {
    background-image: url(./assets/home-screen-background.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#home-screen-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

#home-screen-logo img {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

#start-game-button {
    height: auto;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    color: green;
    padding: 10px 20px 10px 20px;
    background-color: antiquewhite;
}

/* Game image */
/* background-image: url(./assets/2D-Game-Background-2.png);
  background-size: cover; */