body {
  padding: 0;
  text-align: center;
  margin: 0;
}

#game-intro {
    background-image: url(./assets/home-screen-background.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#game-intro-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

#game-intro-logo img {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

#start-game-button {
    height: auto;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    color: rgba(88, 133, 66);
    padding: 10px 20px 10px 20px;
    background-color: rgba(254, 229, 181);
}

#game-intro-logo p {
    font-size: 30px;
    color: rgba(249, 185, 38);
    font-weight: bold;
}

#game-container {
    display:flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
}

#player-stats {
    position: absolute;
    color: white;
    z-index: 10;
    margin-left: 10px;
}

#game-screen {
    background-image: url(./assets/2D-Game-Background-2.png);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

#game-end-screen {
    display: none;
}

#game-end-screen img {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}
