body {
  padding: 0;
  text-align: center;
  margin: 0;
}

#game-intro {
  background-image: url(./assets/home-screen-background.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#game-intro-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

#game-intro-sound {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

#start-game-button {
  height: auto;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  color: rgba(57, 88, 51);
  padding: 10px 20px 10px 20px;
  background-color: rgba(254, 229, 181);
}

#game-intro-logo p {
  font-size: 30px;
  color: rgba(249, 185, 38);
  font-weight: bold;
}

#game-intro-logo img {
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}

#game-intro-sound p {
  color: rgba(254, 229, 181);
  font-size: 20px;
}

#game-intro-sound img {
  width: 20px;
  height: 20px;
}

#player-stats {
  display: none;
  position: absolute;
  color: white;
  z-index: 10;
  margin-left: 10px;
}

#game-screen {
  background-image: url(./assets/2D-Game-Background-2.png);
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none;
}

#game-end-screen {
  background-image: url(./assets/home-screen-background.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: none;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-end-screen img {
  width: 50%;
  height: auto;
  margin-top: 25px;
  /* margin-bottom: 20px; */
}

#game-end-screen h1 {
  font-size: 60px;
  color: darkred;
  font-weight: bold;
  margin-bottom: 10px;
}

#restart-game-button {
  height: auto;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  color: rgba(57, 88, 51);
  padding: 10px 20px 10px 20px;
  background-color: rgba(254, 229, 181);
}

#all-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-end-screen h2 {
  font-size: 30px;
  color: white;
  margin-bottom: 5px;
}

#high-scores {
  color: white;
  font-size: 20px;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
}
